a {
  color: #dc3545;
}
a:hover {
  color: #dc3545;
}
.section-title:before {
  background-color: #dc3545;
}
.section-sub:before {
  background-color: #dc3545;
}
.slicknav_menu .slicknav_icon-bar {
  background: #dc3545;
}
.slicknav_btn {
  border-color: #dc3545;
}
.slicknav_nav a:hover,
.slicknav_nav .active {
  color: #dc3545;
}
.slicknav_nav .dropdown li a.active {
  color: #dc3545;
}
.top-bar {
  background: #dc3545;
}
.header-top-right .white-bg {
  color: #dc3545;
}
.navbar li.active a.nav-link {
  color: #fff !important;
  background: #dc3545;
}
.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #dc3545;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #dc3545;
}
.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  color: #dc3545;
}
.dropdown-menu {
  border-color: #dc3545;
}
.btn-common {
  background-color: #dc3545;
}
.btn-common:hover {
  color: #fff;
}
.btn-border:hover {
  background-color: #dc3545;
}
#main-slide .carousel-item .carousel-caption .heading span {
  color: #dc3545;
}
.item-body .pricin-list .property-price {
  color: #dc3545;
}
.item-body .property-title a:hover {
  color: #dc3545;
}
.team-item .info-text h3 a:hover {
  color: #dc3545;
}
.services-item .icon i {
  color: #dc3545;
}
.services-item .services-content h3 a:hover {
  color: #dc3545;
}
.featured .featured-item .icon i {
  color: #dc3545;
}
.featured .featured-item h3 a:hover {
  color: #dc3545;
}
.counter-section .counter .icon i {
  color: #dc3545;
}
#portfolio-section .portfolio-box .overlay-box a {
  background: #dc3545;
}
.img-box:hover:before {
  background-color: #dc3545;
}
.client-info .info-text h2 a:hover {
  color: #dc3545;
}
.blog-item .date {
  background: #dc3545;
}
.blog-item .descr h3 a:hover {
  color: #dc3545;
}
.blog-item .descr h3:before {
  background-color: #dc3545;
}
.product-filter .layout-switcher .active {
  background-color: #dc3545;
}
.property-details .others ul li a {
  background: #dc3545;
}
.widget-button:hover {
  background: #dc3545;
}
.property-features li i {
  color: #dc3545;
}
#listing-carousel .owl-controls .owl-buttons .owl-prev:hover {
  background: #dc3545;
}
.listing-badges .featured {
  background-color: #dc3545;
}
.listing-content .listing-content {
  background: #dc3545;
}
.about .img-thumb:hover:before {
  background-color: #dc3545;
}
.pricing-table .table-header {
  background: #dc3545;
}
.pricing-table .plan-info p strong i {
  color: #dc3545;
}
.dashborad-box .item .icon span {
  color: #dc3545;
}
.user-profile-box .detail ul li .active,
.user-profile-box .detail ul li a:hover {
  color: #dc3545;
}
.messages .message .body h6 .badge {
  background: #dc3545;
}
.messages .message .body .post-time {
  color: #dc3545;
}
.messages .message .body .controller ul li a:hover {
  color: #dc3545;
}
.review .body .controller ul li a:hover {
  color: #dc3545;
}
.review .body .post-time {
  color: #dc3545;
}
.password-section h6 {
  color: #dc3545;
}
.my-properties table tbody tr td.actions .edit {
  color: #dc3545;
}
.blog-post .content h2 a:hover {
  color: #dc3545;
}
.blog-post .post-meta li a:hover {
  color: #dc3545;
}
.sidebar .widget-text h5 a:hover {
  color: #dc3545;
}
.reply-link {
  color: #dc3545;
}
.contact-right-area .contact-right .contact-icon {
  background: #dc3545;
}
.panel-default .panel-heading a {
  background-color: #dc3545;
}
.controls .active {
  color: #dc3545 !important;
  border-color: #dc3545;
}
.form-control:focus {
  border-color: #dc3545;
}
a.back-to-top i {
  background: #dc3545;
}
#copyright p a:hover {
  color: #dc3545;
}
.settings {
  color: #dc3545;
}
.pagination .page-item .page-link {
  color: #dc3545;
}
.pagination .page-item .page-link:hover {
  background: #dc3545;
}
.pagination-container .pagination .page-item .page-link {
  color: #dc3545;
}
.pagination-container .pagination .page-item .page-link:hover {
  background: #dc3545;
}
.owl-theme .owl-controls .owl-page span {
  border-color: #dc3545;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #dc3545;
  border-color: #dc3545;
}
.property-slider .owl-controls .owl-buttons .owl-next,
.property-slider .owl-controls .owl-buttons .owl-prev {
  background: #dc3545;
}
#listing-carousel .owl-controls .owl-buttons .owl-next:hover {
  background: #dc3545;
}
.checkboxes input[type="checkbox"]:checked + label:before {
  color: #dc3545;
}
.irs-from,
.irs-to,
.irs-single {
  background: #dc3545;
}
.irs-bar {
  background-color: #dc3545;
}
.show-options:hover {
  color: #dc3545;
}
.search-add input:focus {
  border-color: #dc3545;
}
.featured-bg .featured-item .icon i {
  color: #dc3545;
}
.featured-bg .featured-item h3 a:hover {
  color: #dc3545;
}
.label-inner .label-status {
  background: #dc3545;
}
.input-icon i {
  color: #dc3545;
}
.search-container .bg-search .btn-border:hover {
  color: #dc3545;
}
.footer-area #subscribe-form .form-group .btn-common {
  color: #dc3545;
}
